# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env

# Logs
logs
*.log
logs.zip

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# SASS
.sass-cache/

# TypeScript
*.tsbuildinfo

# Optional REPL history
.node_repl_history

# IDEs and editors
.idea/
.vscode/
.vscode-test/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~

# Optional VS Code configuration
.vscode/

# Mac OS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Thumbnails
._.DS_Store
.Thumbnails

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.Trash-*

# Coveralls integration
.coverage

# nyc test coverage
.nyc_output

# Karma
karma-coverage/

# Coverage directory used by tools like istanbul
coverage/

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt/

# Bower dependency directory (https://bower.io/)
bower_components/

# yarn v1
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Project dist directory
dist/

# Next.js build output
.next/

# Nuxt.js build / generate output
.nuxt/
dist/

# Gatsby files
.cache/
public

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Parcel cache
.cache
.parcel-cache

# Vercel
.vercel
